<form #f="ngForm" (ngSubmit)="submitForm(f.form)">
    <div class="form-group">
        <label for="firstName"> Name
        </label>
        <input ngControl="firstName" 
            #firstName="ngForm" 
            id="firstName" 
            type="text" 
            class="form-control"
            required
            minlength="3"
        />
        <div *ngIf="firstName.touched && firstName.errors" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
                First name required
            </div>
            <div *ngIf="firstName.errors.minlength">
                Name minimum length is {{firstName.errors.minlength.requiredLength}}.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">
            Comment
        </label>
        <textarea 
            ngControl="comment" 
            #comment = "ngForm"
            name="comment" 
            id="comment" 
            cols="30" 
            rows="10" 
            class="form-control"
        >
        </textarea>
        <div *ngIf="comment.touched && !comment.valid" class="alert alert-danger">
            Comment required
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid" >submit</button>
</form>