<form [ngFormModel]="form" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            ngControl="username"
            #username="ngForm"
            id="username" 
            type="text" 
            class="form-control">
            <div class="alert" *ngIf="username.control.pending">
                Checking from server ...
            </div>
            <div *ngIf="username.touched && username.errors">
                <div 
                class="alert aert-danger" 
                *ngIf="username.errors.required">Username required.
                 </div>
                 <div *ngIf="username.errors.containsSpace"
                class="alert alert-danger">
                Cannot contain space
                </div>
                <div *ngIf="username.errors.shouldBeUnique"
                class="alert alert-danger">
                should Be Unique- Already taken
                </div>
                <div class="alert alert-danger" *ngIf="username.errors.invalidLogin">
                    invalid Login credentials
                </div>
            </div>
            
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            ngControl="password"
            #password="ngForm"    
            id="password" 
            type="text" 
            class="form-control">
            <div class="alert aert-danger" *ngIf="!password.valid">password required.</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>

<st-dropdown [values]="dropdownValues" [placeholder]="'Vinay SelectAwwwww'"></st-dropdown>